annotated-types==0.7.0
asgiref==3.8.1
Django==5.0.14
django-mssql-backend==2.8.1
django-ratelimit==4.1.0
drf-yasg==1.21.10
greenlet==3.2.0
inflection==0.5.1
mssql==1.0.1
mssql-django==1.5
pydantic==2.11.3
pydantic_core==2.33.1
PyJWT==2.10.1
packaging==25.0
pyodbc==5.2.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
SQLAlchemy==2.0.40
sqlparse==0.5.3
typing-inspection==0.4.0
typing_extensions==4.13.2
uritemplate==4.1.1
djangorestframework==3.16.0
kafka-python==2.2.6

